.login-form-modal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 90px 50px 90px;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    color: rgba(0, 0, 0, 0.885);
    z-index: 8;
}

.login-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
}

.errors{
    color: red;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
}

.borderless-inputs{
    outline: none;
    border-bottom: 1px solid rgb(195, 195, 195);
    border-left: none;
    border-top: none;
    border-right: none;
    width: 500px;
    height: 50px;
}

.log-in-button{
    width: 25rem;
    height: 2rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(101, 119, 101);
    color: white;
}
