.account-box{
  position: fixed;
  top: 75%;
  right: 27%;
  background-color: white;
  border: 1px solid #cbcbcb;
  width: 300px;
  border-radius: 10px;
  padding: 1rem 3rem;
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
}

.inner-account-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .75rem;
}

.divider-account-box{
  display: flex;
  width: 100%;
  gap: 10px
}

.log-in-box-button,
  .sign-up-box-button {
    height: 50px;
    width: 100%;
    font-size: 14px;
    background-color: rgb(101, 119, 101);
    color: white;
    font-weight: 520;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

.log-in-box-button:hover,
.sign-up-box-button:hover {
  background-color: rgb(79, 91, 79);
}

.discover-header {
  font-size: 31px;
  color: rgba(80, 72, 72, 0.91);
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.account-box-call-to-action{
  font-size: 20px;
  margin: 5px;
  /* padding: 0px; */
  color: black;
  width: 100%;
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
}

.legal-message {
  font-size: 12px;
  color: rgb(111, 111, 111);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 11px;
}


.demo-input {
  display: flex;
  gap: 0.2rem;
  font-size: 20px;
  padding-bottom: .5rem;
}

.demo-user-button {
  border: none;
  cursor: pointer;
  color: rgb(64, 73, 66);
}

.thin-line {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 80%;
}

.thin-line::before,
.thin-line::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: rgba(211, 211, 211, 1); 
}

.demo-user-button:hover {
  text-decoration: underline;
  color: rgb(35, 39, 36);
}

/* for screens that are smaller than 1439px */
@media screen and (max-width: 1440px){
  .account-box{
    transform: translate(0%, -120%);
    margin-right: -10rem
  }
}

/*for macbook screens*/
 @media screen and (min-width: 1441px){
  .account-box{
    transform: translate(0%, -55%);
    margin-left: 24rem;
  }
}

