.account-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 14px 6px 0 0;
  border: 1px solid #cbcbcb;
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  background-color: white;
  border-radius: 4%;
  gap: 1rem;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(47%, -55%);
}

.log-in-box-button,
  .sign-up-box-button {
    height: 50px;
    width: 240px;
    font-size: 14px;
    background-color: rgb(101, 119, 101);
    color: white;
    font-weight: 520;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

.log-in-box-button:hover,
.sign-up-box-button:hover {
  background-color: rgb(79, 91, 79);
}

.discover-header {
  font-size: 25px;
  color: rgba(80, 72, 72, 0.91);
}

.legal-message {
  font-size: 12px;
  color: rgb(181, 181, 181);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 2rem 1rem 2rem;
  margin-left: 11px;
}


.demo-input {
  display: flex;
  gap: 0.2rem;
  font-size: 20px;
}

.demo-user-button {
  border: none;
  cursor: pointer;
  color: rgb(138, 155, 141);
}

.demo-user-button:hover {
  text-decoration: underline;
  color: rgb(35, 39, 36);
}

@media screen and (min-width: 1439px){
  .account-box{
    transform: translate(70%, -150%);
  }
}

@media screen and (max-width: 1440px) {
  .account-box {
    transform: translate(47%, -90%);
  }
  .legal-message {
    padding: 1rem 1rem 1rem 1.5rem;
  }
}
