.create-book-form-container{
    padding: 0rem 20rem 1rem 20rem;
    margin-top: 100px;
}

.create-book-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 90px 50px 90px;
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.885);
    border: 1px solid rgb(174, 174, 174);
    background-color: white;
    gap: 1rem;
}

.create-book-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
}

.create-book-inputs{
    width: 500px;
    height: 50px;
}

.create-book-button-submit{
    width: 20rem;
    height: 2rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(101, 119, 101);
    color: white;
    font-size: 15px;
}

.create-book-button-submit:hover{
    background-color: rgb(53, 62, 53);
}

@media screen and (min-width: 1439px){
    .create-book-form-container{
        padding: 0rem 24rem;
    }
}
