.create-book-form-container{
    padding: 0rem 20rem 1rem 20rem;
}

.create-book-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 90px 50px 90px;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    color: rgba(0, 0, 0, 0.885);
    border: 1px solid rgb(174, 174, 174)
}

.create-book-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
}

.create-book-inputs{
    width: 500px;
    height: 50px;
}

.create-book-button-submit{
    width: 20rem;
    height: 2rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(101, 119, 101);
    color: white;
    font-size: 15px;
}
