.footer-container {
    /* position: relative; */
    background-color: #f9f8f4;
    gap: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 12vh;
    width: 100%;
    /* top: 10000px; */
    margin-top: auto;

}

/* .linkedin-link {
    display: flex;
    text-decoration: none;
    background-color: rgba(137, 145, 153, 0.773);
    color: white;
    height: 39px;
    width: 39px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.github-link {
    display: flex;
    text-decoration: none;
    background-color: rgba(137, 145, 153, 0.773);
    color: white;
    height: 39px;
    width: 39px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.3em;
} */

.links-wrapper {
    display: flex;
    flex-direction: column;
    /* row-gap: .5em; */
}

.fa-brands {
    font-size: 35px;
    color: rgba(137, 145, 153, 0.773);
    border-radius: 50%;

}
