.navbar-container{
  padding: .2rem 1rem 1rem 1.2rem;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}

.home-link{
  text-decoration: none;
}

.great{
  font-size: 50px;
  font-weight: 200;
  color: rgba(80, 72, 72, 0.91);
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
}

.great .cooks{
  font-weight:600;
}

/* ProfileButton.js */
.profile-dropdown {
  position: absolute;
  border: 1px solid rgb(192, 192, 192);
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
}

.profile-button-container{
  display: flex;
  justify-self: flex-end;
}

.hidden {
  display: none;
}

.splash-page-image{
  width: 100%;
  object-fit: contain;
  z-index: -1;
}

.login-landing-page-box{
  z-index: 1;
  transform: translate(-60%, 60%);
}
