.navbar-container {
  padding: 1rem 10rem 1rem 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(203, 203, 203);
}

.home-link {
  text-decoration: none;
}

.great {
  font-size: 50px;
  font-weight: 200;
  color: rgba(80, 72, 72, 0.91);
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
}

.great .cooks {
  font-weight: 600;
}

/* ProfileButton.js */
.profile-img-navbar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.fa-user-circle{
  font-size: 30px;
}

.navbar-profile-button {
  border: none;
  background-color: white;
}

.profile-dropdown {
  position: absolute;
  border: 1px solid rgb(192, 192, 192);
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
}

.hidden {
  display: none;
}

.splash-page-image {
  width: 100%;
  object-fit: contain;
  z-index: -1;
}

.login-landing-page-box {
  z-index: 1;
  transform: translate(-60%, 60%);
}

@media (max-width: 1200px) {
  .navbar-container {
    /* padding: 1rem 15rem 0rem 15rem; */
  }
}

@media (max-width: 992px) {
  .navbar-container {
    /* padding: 1rem 10rem 0rem 10rem; */
  }
}

@media (max-width: 768px) {
  .navbar-container {
    /* padding: 1rem 2rem 0rem 2rem; */
  }
}
