.login-container{
  display: flex;

}
.home-link{
  text-decoration: none;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

/* ProfileButton.js */
.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.splash-page-image{
  width: 100%;
  position: relative;
  z-index: 2;
}

.login-landing-page-box{
  z-index: 1;
  transform: translate(-60%, 60%);
}
