.remove-from-shelf{
    width: 120px;
    border-radius: 15px;
    background-color: rgb(103, 148, 111);
    color: white;
    border: none;
    padding: .25rem;
}

.remove-from-shelf:hover{
    background-color: rgb(58, 84, 63);
}
