.login-container{
    z-index: 6;
    margin-top: 76px;
}

.splash-page-image {
    margin-bottom: 100px;
    max-width: 100%;
    width: 100%;
    height: 1auto;
    z-index: 1;
}

/* .testing{
    display: flex;
    padding: 0rem 5rem 5rem 9rem;
    gap: 1rem;
} */

.splash-page-info{
    width: 30%
}
