.error {
    color: red
}

.add-book-to-shelf-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem 2rem 2rem;
    font-family: Copernicus,"Libre Baskerville",Georgia,serif;
    gap: .75rem;
}

.add-to-shelf-header{
    margin-top: -20px;
    color:rgba(0, 0, 0, 0.792)
}

.shelf-buttons{
    font-size: 18px;
    border: none;
    background-color: rgb(101, 119, 101);
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: .5rem;
}

.shelf-buttons:hover{
    cursor: pointer;
    background-color: rgb(77, 90, 77);
}
