/* index.js */
.profile-page-container{
  padding: 1rem 23.5rem 0rem 23rem;
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
}

.edit-shelves-container{
  margin-top: 100px;
  padding: 0rem 24rem;
}

.delete-shelf-modal{
  padding: 2rem;
}

.delete-shelf-buttons{
  display: flex;
  gap: 1rem;
}

.profile-info{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-page-user{
  font-size: 40px;
}

.names-names{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5rem;;
}

.username{
  color: rgb(97, 97, 97);
  margin-top: -15px;
}
.profile-img{
  border: 1px solid rgb(223, 223, 223);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.username-library{
  font-size: 30px;
}


.bookshelf-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.bookshelf-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bookshelf-item > h1 {
  font-size: 20px;
  font-weight: lighter;
}

.bookshelf-item.header > h1 {
  font-weight: bold;
}

.add{
  border: 1px solid olive;
  background-color: white;
  padding: 5px 9px;
  width: 100px;
  font-family: Copernicus,"Libre Baskerville",Georgia,serif;
  border-radius: 3px;
}

.add-shelf-container{
  border: 1px solid rgba(80, 72, 72, 0.91);
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: rgba(110, 129, 110, 0.91);
}

.add-shelf-error{
  display: flex;
  flex-direction: column;
}

.edit-shelves-buttons{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  align-items: center;
  font-family: Copernicus,"Libre Baskerville",Georgia,serif;
  font-size: 20px;
}

.buttons-of-shelf{
  display: flex;
  gap: .5rem;
}

.input-rename{
  border-radius: 5px;
  background-color: white;
  padding: 5px;
}

.edit-shelves-each-shelf{
  padding: .5rem 1rem;
}
.add-shelf-input{
  background-color: rgb(231, 231, 231);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid gray;
  width: 80%
}

.see-all-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  transition: 0.3s ease;
  border-radius: 10%;
  font-size: 19px;
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
}

.arrow, .material-symbols-outlined {
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 30px;
  margin-top: 3px
}

.see-all-button:hover{
  text-decoration: underline;
}

.see-all-button:hover .arrow {
  transform: translateX(5px);
  
}

.left-arrow:hover .arrow{
  transform: translateX(-5px);
}

.left-arrow {
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  transition: 0.3s ease;
  border-radius: 10%;
  font-family: Lato Bold, "Helvetica Neue Bold", Helvetica, sans-serif;
}


.hidden {
  display: none;
}

.user-bookshelf-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.778)
}

.more-books{
  color: rgba(0, 0, 0, 0.778)
}
.empty-book{
  height: 300px;
  width: 500px;
}

/* BookShelf.js */
.user-bookshelf{
  display: flex;
  flex-direction: column;
}

.user-all-shelves{
  display: flex;
  justify-content: space-evenly;
}


.shelves-of-user{
  font-size: 20px;
  padding: 1rem;
}

.shelves-of-user:hover{
  color:rgba(197, 174, 174, 0.91)
}

/* EditShelf.js */

.edit-shelves-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.button{
  background-color: rgb(101, 119, 101);
  color: white;
  border-radius: 5px;;
}

.follow-button{
  border-radius: 10px;
  background-color: brown;
  color: white;
  margin-left: 100px;
}


@media (max-width: 1200px) {
  .profile-page-container,.edit-shelves-container {
    padding: 1rem 15rem 0rem 15rem;
  }
}

@media (max-width: 992px) {
  .profile-page-container, .edit-shelves-container {
    padding: 1rem 10rem 0rem 10rem;
  }
}

@media (max-width: 768px) {
  .profile-page-container, .edit-shelves-container {
    padding: 1rem 2rem 0rem 2rem;
  }
}

.shelf-display-header{
  font-family: Copernicus,"Libre Baskerville",Georgia,serif;
}
