.entire-books-container{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    color: rgba(0, 0, 0, 0.726);
    background-image: url(https://i.imgur.com/tnumd3v.jpg);
    font-family: 'Noto Sans KR', sans-serif;
}

.all-books-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.gray-line {
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, rgba(211,211,211,0) 0%, rgba(211,211,211,1) 20%, rgba(211,211,211,1) 80%, rgba(211,211,211,0) 100%);
    width: 100%;
    margin-top: 40px;
  }

.explore-cookbooks-container{
    display: flex;
  }

.books-page-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.books-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.books-card{
    display: flex;
}



.bookcover-img{
    width: 120px;
    height: 185px;
    box-shadow: 0px 10px 10px -5px gray;
    transition: transform 0.2s ease-in-out;
}

.bookcover-img:hover {
  transform: scale(1.05);
  z-index: -1;
}

.currently-reading-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.navlink{
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 20px;
    font-family: Lato Bold, "Helvetica Neue Bold", Helvetica, sans-serif;
}

.navlink:hover{
    text-decoration: underline;
    color: rgb(207, 194, 156)
}

@media screen and (min-width: 1439px){
    .entire-books-container{
        padding: 0rem 24rem;
    }
}

@media screen and (max-width:1440px){
    .entire-books-container{
        padding: 0rem 9rem 0rem 9rem;
    }
}
