.entire-books-container{
    display: flex;
    padding: 5rem;
}

.books-page-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.books-card{
    display: flex;
    width: 25%;
}

.bookcover-img{
    width: 120px;
    height: 185px;
}

.currently-reading-container{
    display: flex;
    flex-direction: column;
    width: 1000px;
}
.navlink{
    text-decoration: none;
    cursor: pointer;
    color: black
}

.navlink:hover{
    text-decoration: underline;
    color: blue
}
