.entire-books-container{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    color: rgba(0, 0, 0, 0.815);
    background-image: url(https://i.imgur.com/tnumd3v.jpg);
}

.all-books-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.books-page-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.books-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.books-card{
    display: flex;
}



.bookcover-img{
    width: 120px;
    height: 185px;
    box-shadow: 0px 10px 10px -5px gray;
    transition: transform 0.2s ease-in-out;
}

.bookcover-img:hover {
  transform: scale(1.05);
  z-index: -1;
}

.currently-reading-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.navlink{
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 20px;
}

.navlink:hover{
    text-decoration: underline;
    color: rgb(207, 194, 156)
}

@media screen and (max-width:1440px){
    .entire-books-container{
        padding: 0rem 9rem 0rem 9rem;
    }
}
