.book-details-page{
    display: flex;
    color: rgba(80, 72, 72, 0.91);
    margin-top: -100px;
    font-family: Lato Bold, "Helvetica Neue Bold", Helvetica, sans-serif;
}

.book-img-add-to-shelf{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    position: sticky;
    height: 600px;
    top: 0px;
    padding-top: 70px;
    width: 60%;
    margin-top: -100px;
}


.cook-book-img{
    width: 250px;
    height: 390px;
    object-fit: fill;
    box-shadow: 0px 0px 10px rgb(178, 178, 178);
}

.book-description{
  font-family: Lato Bold, "Helvetica Neue Bold", Helvetica, sans-serif;
  font-weight: 200;
}

.book-title{
  font-family: Lato Bold, "Helvetica Neue Bold", Helvetica, sans-serif;
    color: rgba(56, 50, 50, 0.91);
    font-size: 50px;
}

.book-author{
    font-size: 23px;
    font-family: Lato Bold, "Helvetica Neue Bold", Helvetica, sans-serif;
    font-weight: 100;
    color: rgba(56, 50, 50, 0.91)
}

.book-display{
    display: flex;
    justify-content: space-between;
}
.cook-book-info{
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    width: 70%;
    color: rgba(38, 34, 34, 0.969);
    margin-top: 10px;
}

.rating-details:hover{
  cursor: pointer;
}

.book-price-button{
    width: 80%;
    border-radius: 20px 0px 0px 20px;
    color: black;
    background-color: white;
    border: 2px solid rgb(101, 119, 101);
    height: 2.5rem;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.824);
    border-right: none;
}

.book-published{
    color: rgb(144, 144, 144)
}

.book-description {
  margin-top: -2px;
  max-height: 100px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.book-description.expanded {
  max-height: none;
  /* overflow: visible; */
}

.show-more-button {
  display: block;
  margin-top: 10px;
  background-color: transparent;
  border: none;
}

.show-more-button:hover{
  cursor: pointer;
}
.silver-line {
    border: none;
    border-top: 1px solid rgb(205, 205, 205);
    margin: 0;
    padding: 0;
  }

.add-to-shelf-container{
  width: 70%
}

.add-to-shelf-button{
    border-radius: 20px 0px 0px 20px;
    color: white;
    background-color: rgb(101, 119, 101);
    width: 80%;
    border: none;
    height: 2.5rem;
    font-size: 18px;
}
.test-dropdown{
  width: 20%;
  background-color: rgb(101, 119, 101);;
  border-radius: 0px 20px 20px 0px;
  height: 2.5rem;
  color: white;
  border: none;
  font-size: 18px;
  border-left: 1px solid rgb(70, 83, 70);
}

.add-to-shelf-button:hover{
    cursor: pointer;
    background-color: rgb(77, 92, 77);
}

.test-dropdown:hover{
  cursor: pointer;
  background-color: rgb(77, 92, 77);
}

.test-dropdown-two{
  width: 20%;
  background-color: white;
  border-radius: 0px 20px 20px 0px;
  height: 2.5rem;
  color: black;
  border: 2px solid rgb(101, 119, 101);
  font-size: 18px;
  border-left: 1px solid rgb(70, 83, 70);
}




/*__________ MEDIA QUERIES ____________*/

@media screen and (min-width:1439px){
    .book-details-page{
      padding: .5rem 24rem;
      width: 60%

    }
  }

  @media screen and (max-width:1440px){
    .book-details-page{
      width: 80%;
      padding: 1rem 9rem;
    }

  }
